    body {
        background-color: antiquewhite;
        font-family: helvetica;
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        align-items: flex-start;
        padding: 20px;
    }

    hr {
        border: 0;
        height: 1px;
        background: black;
        margin: 20px 0;
    }

    h1 {
        font-size: 60px;
        text-align: left;
        line-height: 0.9;
        margin-top: 0px ;
    
    }

    p {
        font-size: 12px;
        text-align: right;
        line-height: 0.9;
        margin-top: 0;
    }